@model User
@{
    ViewData["Title"] = "Test Page";
}

<div class="text-center">
   @* <h1>Welcome to my Test page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <input type="text" name="name" value="@Model.Name" />
    <input type="text" name="name" value="@Model.Surname" />
    <button action="Show" data="@Model"></button>*@
    @if (string.IsNullOrEmpty(Model.Name))
    {
        @using (Html.BeginForm("Index", "Counter", FormMethod.Get))
        {

         @Html.TextBox("name", @Model.Name)
        <br />
        @Html.TextBox("surname", @Model.Surname)
        <br />

         <input type="submit" value="Show" />
        }
    }
    else
    {
        @Html.Label("name", @Model.Name)
        @Html.Label("surname", @Model.Surname)
    }
</div>
